{% extends 'base.html.twig' %}

{% block title  property.title %}

{% block body %}
<div class="jumbotron">

    <div class="container">
               <div class="row">
                    <div class="col-md-8">
                    <p>Images à venir</p>
                    </div>
        
                <div class="col-md-4">
                    <h1>{{ property.title}}</h1>
                    <h2>{{ property.rooms}} pieces -  {{ property.surface}} m2</h2>
                    <div class="text-primary">{{ property.formattedPrice}} €</div>
                    <a href="#" class="btn btn-primary">Contactez l'agence</a> 
                </div>
       </div>
   
    </div>
</div>


<div class="container mt-4">
 
        <p>Une petite description {{ property.description | nl2br }} </p>


        <div class="row">

            <div class="col-md-8">
            <h2>Caracteristiques</h2>
               <table class="table table-striped">
                    <tr>
                        <td> Surface</td>
                        <td>{{ property.surface}} m2</td>
                    </tr>

                     <tr>
                        <td> nb Pieces</td>
                        <td>{{ property.rooms}}</td>
                    </tr>
                    <tr>
                        <td> nb Chambres</td>
                        <td>{{ property.bedrooms}}</td>
                    </tr>
                    <tr>
                        <td> Etages</td>
                        <td>{{ property.floor}}</td>
                    </tr>
                    <tr>
                        <td> Chauffage</td>
                        <td>{{ property.heatType}}</td>
                    </tr>
                    
               </table>
            </div>

            <div class="col-md-4">
                   <h2>Specificités</h2>
            </div>
       
        </div>   

 
</div>
        


{% endblock body %}